body {
  font-size: 16px;
}

// App
.heading {
  text-align: center;
  margin: 40px;
  color: teal;
}
.text-center {
  text-align: center;
}

// Common
.box1 {
  margin: 20px;
  padding: 30px;
  border-radius: 10px;
}
.box2 {
  margin: 20px;
  padding: 12px 30px;
  border-radius: 10px;
}
.btn-wrapper {
  display: flex;
  justify-content: center;
}
.custom-btn {
  width: 200px;
  display: flex;
  justify-content: center;
  color: white;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: space-between;
}
.info {
  font-size: 12px;
}

// CustomForm
.form-wrapper {
  background-color: lightblue;
  height: 50%;
}

// FormInput
.error-message {
  color: red;
  font-size: 12px;
}

// Subscribe
.subscription {
  background-color: lightgray;
}