body {
  font-size: 16px;
}

// App
.heading {
  text-align: center;
  margin: 40px;
  color: teal;
}
.withLove {
  text-align: center;
}

// Common
.box1 {
  margin: 30px;
  padding: 30px;
  border-radius: 10px;
}
.box2 {
  margin: 30px;
  padding: 20px;
  border-radius: 10px;
}

// CustomForm
.form-wrapper {
  background-color: lightblue;
  height: 50%;
}

// FormInput
.error-message {
  color: red;
}

// Subscribe
.subscription {
  background-color: lightgray;
}